.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-content: space-between;
}

form * {
    margin:5px;
}

.redText {
    color: red;
}

